#header {
    background-color: #202224;
    width: auto;
    padding: 30px 40px;
    color: white;
    text-align: center;
    border-radius: 20px;
    font-family: Didact Gothic;
}
#header img {
    width: 8%;
}

#header:after {
    content: "";
    display: table;
    clear: both;
}

.searchbar {
    all: unset;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flexbox;
}

.searchbar input[type=text] {
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 100%;
    min-width: 10%;
    text-align: center;
    display: inline-block;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: gray;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    display: inline-block;
}

.resetBtn{
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: gray;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    display: inline-block;
}


.addBtn:hover {
    background-color: #bbb;
}
.resetBtn:hover {
    background-color: #bbb;
}

ul {
    margin: 0 3%;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eeee;
    font-size: 18px;
    transition: 0.2s;
    font-family: Didact Gothic;
    list-style-type: square;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #dddd;
}

ul li.checked {
    background: #0ad30a;
    color: #ffff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #ffff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 13px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

#addForm {
    display: inline-block;
}
